<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaodu.elasticJob.dao.TaskJobMapper">
  <resultMap id="BaseResultMap" type="com.xiaodu.elasticJob.model.TaskJob">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sent_time" jdbcType="BIGINT" property="sentTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, content, status, sent_time
  </sql>

  <select id="findByStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task_job
    where status = #{status,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task_job
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from task_job
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaodu.elasticJob.model.TaskJob">
    insert into task_job (id, content, status,
      sent_time)
    values (#{id,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{sentTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaodu.elasticJob.model.TaskJob">
    insert into task_job
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sentTime != null">
        sent_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sentTime != null">
        #{sentTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaodu.elasticJob.model.TaskJob">
    update task_job
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sentTime != null">
        sent_time = #{sentTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaodu.elasticJob.model.TaskJob">
    update task_job
    set content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sent_time = #{sentTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>